html {
  zoom: 80%;
}

body, html {
    background-color: #414141;
    border: 0;
    padding: 0;
  }

/* ######### cabeçalho ######### */

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #titulo {
    font-family: exo;
    font-size: 28px;
    font-weight: normal;
    /*width: 1450px*/;
    text-align: center;
    color: white;
  }

  #dica {
    font-family: exo;
    font-size: 28px;
    font-weight: normal;
    width: 900px;
    text-align: center;
    color: white;
    border-radius: 40px; 
    background: #494949;
    padding: 10px; 
    height: 30px;  
  }

  #user {
    font-family: exo;
    font-size: 28px;
    font-weight: normal;
    /*width: 100%;*/
    text-align: center;
    color: white;
    /*padding: 10px;*/ 
    height: 30px;
    margin-bottom: 5px;
  }

  #navegacao {
    background-color: rgb(253,185,19);
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-left: 30px*/;
  }

/* ######### navegação ######### */

  .menu {
    position: fixed;
    z-index: 6;
    background-color: black;
    border-radius: 8px;
    margin-top: 700px;
    margin-right: 15px;
    right: 0;
    padding: 20px;
    width: 265px;
    display: none;
  }

  .menu button {
    border: none;
    outline: none;
    font-size: 22px;
    font-family: exo;
    text-decoration: none;
    color: #414141;
    border-radius: 8px;
    background-color: rgb(253,185,19);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    width: 260px;
  }

  .menu li {
    position: relative;
    text-align: center;
    list-style: none;
    height: 80px;
    font-size: 22px;
    background-color: black;
    margin-top: 10px;
  }

  /* Keyboard */
  #msg{
    color: rgb(253,185,19);
    font-family: exo;
    font-size: 26px;
    font-weight: normal;
  }

  .keypad {
    z-index: 1;
    display: none;
    position: fixed;
    top: 10%;
    left: 38%;
    background-color: #272424;
    padding: 10px;
    border-radius: 8px;
  }

  .flex-container2 {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .key {
    font-size: 50px;
    width: 130px;
    height: 100px;
    border-radius: 10px;
    background-color: #414141;
    color: white;
    margin: 2px;
  }

  .key-confirm {
    font-size: 26px;
    width: 196px;
    height: 60px;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
  }
  .key-cancel {
    font-size: 26px;
    width: 196px;
    height: 60px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
  }
  .display {
    font-size: 60px;
    width: 402px;
    height: 70px;
    background-color: #414141;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
  }


  /* ##################################################################################################### */
  /* ########################################### REIMPRIMIR ############################################## */
  /* ##################################################################################################### */





  /* ##################################################################################################### */
  /* ############################################# LOGIN ################################################# */
  /* ##################################################################################################### */

  /* ######### Formulário ######### */

  .login-div-form {
    display: flex;
    text-align: center;
    flex-direction: row;
  }

  .login-div-form1 {
    display: flex;
    text-align: right;
    flex-direction: column;
    width: 40%;
  }

  .login-div-form2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 60%;
  }

  label {
    font-size: 30px;
    font-family: exo;
    color: white;
    width: 100%;
    margin-top: 2%;
    margin-right: 1%;
  }

  input {
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    font-size: 30px;
    font-family: exo;
    color: #414141;
    text-align: center;
    width: 40%;
    margin-top: 1%;
    margin-left: 1%;
  }

  .input-operacao {
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    font-size: 30px;
    font-family: exo;
    color: #414141;
    text-align: center;
    width: 41%;
    margin-top: 1%;
    margin-left: 1%;
  }

  .login-table-title {
    font-size: 30px;
    font-family: exo;
    color: rgb(253,185,19);
    width: 100%;
  }

  .login-table-header {
    background-color: #494949;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 5%;
  }
  
  .login-table-users {
    background-color: #494949;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    height: 5%;
  }

  .login-th {
    position: sticky;
    background-color: #494949;
    text-align: center;
    color: #FDB913;
    font-size: 20px;
    padding: 20px;
  }
    
  .login-td {
    text-align: center;
    vertical-align: top;
    color: white;
    font-family: exo;
    font-size: 20px;
    padding: 8px;
  }
  
  .login-log-label {
    font-size: 30px;
    font-family: exo;
    color: rgb(253,185,19);
    width: 100%;
    margin-left: 5%;
  }
  
  .login-log-action {
    font-size: 30px;
    font-family: exo;
    color: white;
    width: 100%;
    margin-top: 2%;
    margin-right: 1%;
  }

  .login-btn-logoff {
    background-color: red;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 10%;
  }

  .login-btn-login {
    background-color: rgb(253,185,19);
    border: none;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 10%;
  }

  .login-btn-voltar {
    background-color: rgb(192,192,192);
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 10%;
  }


  /* TABELA */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: auto;
  }

  th {
    top: 0;
    position: sticky;
    background-color: #494949;
    text-align: left;
    color: #FDB913;
    font-weight: bold;
    padding: 8px;
  }
  
  td {
    text-align: left;
    color: white;
    padding: 8px;
  }

  .btn-amostragem {
    background-color: rgb(253,185,19);
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .btn-salvar {
    background-color: green;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  /* ##################################################################################################### */
  /* ########################################## SOLICITAÇÕES ############################################# */
  /* ##################################################################################################### */

  .solicitacao-btn-selecionar {
    background-color: rgb(253,185,19);
    border: none;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 94%;
  }

  #div-botoes-solicitacoes {
    display: flex;
  }


  /* ##################################################################################################### */
  /* ########################################### TRANSBORDO ############################################## */
  /* ##################################################################################################### */

  .transbordo-tab-selected {
    background-color: rgb(253,185,19);
    border: solid;
    border-color: rgb(253,185,19);
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 40%;
  }

  .transbordo-tab-unselected {
    background-color: #414141;
    border-style: none;
    border-color: rgb(253,185,19);
    border-width: 5px;
  
    color: rgb(253,185,19);;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 40%;
  }

  .transbordo-input {
    background-color: #414141;
    border-radius: 10px;
    border-style: none;
    font-size: 30px;
    font-family: exo;
    color: white;
    text-align: center;
    width: 40%;
    margin-top: 1%;
    margin-left: 1%;
  }

  .btn-adicionar {
    background-color: rgb(253,185,19);
    border: none;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-top: 5%;
  }

  button:disabled {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    opacity: 30%;
  }

  input:disabled {
    pointer-events: none;
    opacity: 60%;
  }

  #tabela_ordens_picadas th, td {
    font-size: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
  }